p.Carrousel{
    font-size: medium;
    font-weight:bold ;
    color: black;
}
.carousel-item img{
    opacity: 0.6;
}
a{
    text-decoration: none;
}
#card-half{
    background-color: seagreen;
}
h1{
    color: black;
}

